<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" hidden>
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->

        <div class="card-header ">
          <h4 class="card-title">Withholding Settlement Invoice Info</h4>
        </div>
        <div class="card-body ">
          <!--#region button proceed dan back-->
          <button [hidden]="this.param === null || model.settlement_status !== 'HOLD'" type="button"
            class="btn btn-success btn-round" (click)="btnProceed()" data-role="R00020590022060O">Proceed</button>
          <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
          <!--#endregion button proceed dan back-->

          <!--#region row-->
          <div class="row">
            <!--#region invoice no-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Invoice No</label>
                <input type="text" class="form-control" [ngModel]="model.invoice_no" name="p_invoice_no" readonly>
              </div>
            </div>
            <!--#endregion invoice no-->

            <!--#region invoice name-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Invoice Name</label>
                <input type="text" class="form-control" [ngModel]="model.invoice_name" name="p_invoice_name" readonly>
              </div>
            </div>
            <!--#endregion invoice name-->

            <!--#region invoice date-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="invoice_date" class="control-label">Invoice Date </label>
                <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                  [ngModel]="model.invoice_date" name="p_invoice_date" [options]="myDatePickerOptions"
                  #p_invoice_date="ngModel" #invoice_date="angular-mydatepicker" autocomplete="off" readonly />
              </div>
            </div>
            <!--#endregion invoice date -->
          </div>
          <!--#endregion row-->

          <!--#region row-->
          <div class="row">
            <!--#region faktur no-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Faktur No</label>
                <input type="text" class="form-control" [ngModel]="model.faktur_no" name="p_faktur_no" readonly>
              </div>
            </div>
            <!--#endregion faktur no-->

            <!--#region invoice-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Invoice</label>
                <input type="text" class="form-control" [ngModel]="model.client_name" name="p_client_name" readonly>
              </div>
            </div>
            <!--#endregion invoice-->

            <!--#region invoice status-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Invoice Status</label>
                <input type="text" class="form-control" [ngModel]="model.invoice_status" name="p_invoice_status"
                  readonly>
              </div>
            </div>
            <!--#endregion invoice status-->
          </div>
          <!--#endregion row-->

          <!--#region row-->
          <div class="row">
            <!--#region currency-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Currency</label>
                <input type="text" class="form-control" [ngModel]="model.currency_code" name="p_currency_code" readonly>
              </div>
            </div>
            <!--#endregion currency-->

            <!--#region amount-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control col-md-6" style="text-align: right;"
                  [ngModel]="model.total_amount | number : '1.2-2'" name="p_total_amount" amount="total_amount"
                  readonly>
              </div>
            </div>
            <!--#endregion amount-->

            <!--#region settlement status-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Settlement Status</label>
                <input type="text" class="form-control" [ngModel]="model.settlement_status" name="p_settlement_status"
                  readonly>
              </div>
            </div>
            <!--#endregion settlement status-->
          </div>
          <!--#endregion row-->
          <!--#region row-->
          <div class="row">
            <!--#region Status-->
            <div class="col-md-4">
              <div class="form-group">
                <label>Settlement Type</label>
                <select disabled class='form-control col-md-6' name="p_settlement_type"
                  [(ngModel)]="model.settlement_type" (change)="SettlementType($event)">
                  <option value='PKP'>PKP</option>
                  <option value='NON PKP'>NON PKP</option>
                </select>
              </div>
            </div>
            <!--#endregion Status-->
            <!--#region file name  <i class="fa fa-check"></i>-->
            <div class="col-md-4" [hidden]="model.settlement_type ==='PAYMENT'">
              <div class="form-group">
                <label>File</label>
                <div class="row" style="margin-left: 30px;">
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div [hidden]="this.tampHidden !== true">
                      <span class="btn btn-info btn-round btn-file ">
                        <input type="file" (change)="onUpload($event, model.invoice_no)" />
                        <span>UPLOAD</span>
                      </span>
                      {{tempFile}}
                    </div>
                    <div [hidden]="this.tampHidden !== false">
                      <span>
                        <a class="btn btn-danger btn-round btn-file " type="button"
                          (click)="deleteImage(model.file_name,model.file_path)">
                          <span><i class="fa fa-trash"></i></span></a>
                        <br>
                        <a class="btn btn-primary btn-round btn-file " type="button"
                          (click)="priviewFile(model.file_name, model.file_path)">
                          <span><i class="fa fa-eye"></i></span></a>
                      </span>
                      <div> {{model.file_name}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--#endregion file name-->
            <!--#region reff no-->
            <div class="col-md-4">
              <div class="form-group">
                <div [hidden]="model.settlement_type ==='PKP'">
                  <label>Payment No</label>
                </div>
                <div [hidden]="model.settlement_type ==='NON PKP'">
                  <label>PPH No</label>
                </div>
                <!-- <label>Reff No</label> -->
                <input type="text" class="form-control" [ngModel]="model.payment_reff_no" name="p_payment_reff_no"
                  readonly>
              </div>
            </div>
            <!--#endregion reff no-->

            <!--#region payment reff date-->
            <div class="col-md-4">
              <div class="form-group">
                <div [hidden]="model.settlement_type ==='PKP'">
                  <label for="payment_reff_date" class="control-label">Payment Date</label>
                </div>
                <div [hidden]="model.settlement_type ==='NON PKP'">
                  <label for="payment_reff_date" class="control-label">PPH Payment Date</label>
                </div>
                <!-- <label for="payment_reff_date" class="control-label">Reff Date </label> -->
                <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                  [ngModel]="model.payment_reff_date" name="p_payment_reff_date" [options]="myDatePickerOptions"
                  #p_payment_reff_date="ngModel" #payment_reff_date="angular-mydatepicker" autocomplete="off"
                  readonly />
              </div>
            </div>
            <!--#endregion payment reff date -->
          </div>
          <!--#endregion row-->
        </div>
        <!--#endregion row-->
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>
</div>