<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" hidden>
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->

        <div class="card-header ">
          <h5 class="card-title">Master Transaction Info</h5>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #mastertransactionForm="ngForm"
            (ngSubmit)="onFormSubmit(mastertransactionForm.value, mastertransactionForm.valid)">
            <!--#region button submit dan back-->
            <button type="submit" class="btn btn-info btn-round" data-role="R00016910021692C">Save</button>
            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button submit dan back-->
            <!--#region row-->
            <div class="row">
              <!--#region code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="code" class="control-label">Code *</label>
                  <input type="text" class="form-control" [ngModel]="model.code" name="p_code" [readonly]="isReadOnly"
                    required #code="ngModel" maxlength="10">
                  <small
                    *ngIf="code.errors?.required && code.touched || (code.errors?.required && mastertransactionForm.submitted) "
                    class="text-danger">
                    Code is required
                  </small>
                </div>
              </div>
              <!--#endregion code-->

              <!--#region transaction_name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="transaction_name" class="control-label">Name *</label>
                  <input type="text" class="form-control" [ngModel]="model.transaction_name" maxlength="250"
                    name="p_transaction_name" required #transaction_name="ngModel">
                  <small
                    *ngIf="transaction_name.errors?.required && transaction_name.touched || (transaction_name.errors?.required && mastertransactionForm.submitted) "
                    class="text-danger">
                    Name is required
                  </small>
                </div>
              </div>
              <!--#endregion transaction_name-->

              <!--#region sp_name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="sp_name" class="control-label"> SP Name *</label>
                  <input type="text" class="form-control" [ngModel]="model.sp_name" maxlength="250" name="p_sp_name"
                    required #sp_name="ngModel">
                  <small
                    *ngIf="sp_name.errors?.required && sp_name.touched || (sp_name.errors?.required && mastertransactionForm.submitted) "
                    class="text-danger">
                    SP Name is required
                  </small>
                </div>
              </div>
              <!--#endregion sp_name-->
            </div>
            <!--#endregion row-->

            <!--#region row-->
            <div class="row">
              <!--#region is_active-->
              <div class="col-md-4">
                <div class="form-check mt-3" style="margin-left: -35px;">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [ngModel]="model.is_active" name="p_is_active">
                      Active
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!--#endregion is_active-->
            </div>
            <!--#endregion row-->
          </form>
          <!--#endregion form-->
        </div>
      </div>
    </div>
  </div>
</div>