<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" hidden>
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->

        <div class="card-header ">
          <h4 class="card-title">Agreement Info </h4>
        </div>
        <div class="card-body ">

          <!--#region button submit dan back-->
          <!-- <button type="button" class="btn btn-success btn-round" (click)="btnBack()">Proceed</button> -->
          <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
          <!--#endregion button submit dan back-->

          <!--#region row-->
          <div class="row">
            <!--#region agreement_no-->

            <input type="text" class="form-control" [ngModel]="model.agreement_no" maxlength="50" name="p_agreement_no"
              [readonly]="isReadOnly" #agreement_external_no="ngModel" hidden>

            <div class="col-md-4">
              <div class="form-group">
                <label for="agreement_external_no" class="control-label">Agreement No </label>
                <input type="text" class="form-control" [ngModel]="model.agreement_external_no" maxlength="50"
                  name="p_agreement_external_no" [readonly]="isReadOnly" #agreement_external_no="ngModel">
              </div>
            </div>
            <!--#endregion agreement_no-->

            <!--#region client_name-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="client_name" class="control-label">Client Name </label>
                <input type="text" class="form-control" [ngModel]="model.client_name" maxlength="250"
                  name="p_client_name" [readonly]="isReadOnly" #client_name="ngModel">
              </div>
            </div>
            <!--#endregion client_name-->

            <!--#region Agreement Status-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="agreement_status" class="control-label">Status </label>
                <input type="text" class="form-control" [ngModel]="model.agreement_status" maxlength="10"
                  name="p_agreement_status" #agreement_status="ngModel" [readonly]="isReadOnly">
              </div>
            </div>
            <!--#endregion Agreement Status-->
          </div>
          <!--#region row -->

          <!--#region row-->
          <div class="row">
            <!--#region branch_name-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="branch_name" class="control-label">Branch Name </label>
                <input type="text" class="form-control" [ngModel]="model.branch_name" maxlength="250"
                  name="p_branch_name" [readonly]="isReadOnly" #branch_name="ngModel">
              </div>
            </div>
            <!--#endregion branch_name-->

            <!--#region initial_branch_name-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="initial_branch_name" class="control-label">Initial Branch Name </label>
                <input type="text" class="form-control" [ngModel]="model.initial_branch_name" maxlength="250"
                  name="p_initial_branch_name" [readonly]="isReadOnly" #initial_branch_name="ngModel">
              </div>
            </div>
            <!--#endregion initial_branch_name-->

            <!--#region agreement_date-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="p_agreement_date" class="control-label">Agreement Date</label>
                <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                  [ngModel]="model.agreement_date" name="p_agreement_date" [options]="myDatePickerOptions"
                  #p_agreement_date="ngModel" #agreement_date="angular-mydatepicker" autocomplete="off"
                  [readonly]="isReadOnly" />
              </div>
            </div>
            <!--#endregion agreement_date-->
          </div>
          <!--#region row -->


          <!--#region row -->
          <div class="row">
            <!--#region facility_name-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="facility_name" class="control-label">Facility Name </label>
                <input type="text" class="form-control" [ngModel]="model.facility_name" maxlength="250"
                  name="p_facility_name" [readonly]="isReadOnly" #facility_name="ngModel">
              </div>
            </div>
            <!--#endregion facility_name-->

            <!--#region Termination Status-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="termination_status" class="control-label">Termination Type </label>
                <input type="text" class="form-control" [ngModel]="model.termination_status" maxlength="20"
                  name="p_termination_status" #termination_status="ngModel" [readonly]="isReadOnly">
              </div>
            </div>
            <!--#endregion Termination Status-->

            <!--#region termination_date-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="p_termination_date" class="control-label">Termination Date</label>
                <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                  [ngModel]="model.termination_date" name="p_termination_date" [options]="myDatePickerOptions"
                  #p_termination_date="ngModel" #termination_date="angular-mydatepicker" autocomplete="off"
                  [readonly]="isReadOnly" />
              </div>
            </div>
            <!--#endregion termination_date-->
          </div>
          <!--#endregion row-->
        </div>
        <!--#region wizard-->
        <!-- <div class="wizard-custom-margin" [hidden]="param == null">
          <div class="wizard-container">
            <div class="card-wizard" style="opacity: 1 !important; min-height: 0px;" data-color="primary"
              id="wizardProfile">
              <div class="text-center">
                <div class="wizard-navigation">
                  <ul>
                    <li class="nav-item" id="Asset">
                      <a class="nav-link" (click)="agreementassetwiz()" href="#agreementassetlist" data-toggle="tab"
                        role="tab" aria-controls="agreementassetlist" aria-selected="true">
                        Asset
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!--endregion wizard-->
        <!-- <router-outlet></router-outlet> -->
        <span layout="row horizontal-divider">
          <hr flex />
        </span>
        <!--#region list view-->
        <div *ngIf="param != null" class="row">
          <div class="col-md-12">
            <div class="card-header">
              <h4 class="card-title">Asset List</h4>
            </div>
            <div class="card-body">
              <!--#region list view-->
              <table id="datatableAsset" datatable [dtOptions]="dtOptions"
                class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="disabled-sorting">No</th>
                    <th style="display: none;"></th>
                    <th>Asset No</th>
                    <th>Name</th>
                    <th>Asset Type</th>
                    <th>Asset Year</th>
                    <th>Condition</th>
                    <th>Rental Amount</th>
                    <th>Billing Status</th>
                    <th style="text-align: center;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of listasset;let i=index ">
                    <td class="if-no-edit-btn" style="display: none;"></td>
                    <td class="if-no-edit-btn" style="text-align: center;">{{listasset.numberIndex+i+1}}</td>
                    <td style="display: none;"></td>
                    <td style="width: 10%;text-align: center;">{{row.asset_no}}</td>
                    <td style="width: 25%;text-align: left;">{{row.asset_name}}</td>
                    <td style="width: 15%;text-align: center;">{{row.asset_type}}</td>
                    <td style="width: 10%;text-align: center;">{{row.asset_year}}</td>
                    <td style="width: 10%;text-align: center;">{{row.asset_condition}}</td>
                    <td style="width: 15%;text-align: right;">{{row.lease_rounded_amount | number : '1.2-2'}}</td>
                    <td style="width: 15%;text-align: center;">{{row.billing_status}}</td>
                    <td style="text-align: center;">
                      <a class="btn btn-warning btn-link btn-icon btn-sm edit" title="Edit"
                        (click)="btnEdit(row.asset_no)"><i class="fa fa-edit"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--#endregion list view-->
            </div>
          </div>
        </div>
        <!--#endregion list view-->
      </div>
    </div>
  </div>
</div>