<router-outlet></router-outlet>

<div id="hideMainPanel" class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!--#region watermark-->
        <div class="watermark" hidden>
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->

        <div class="card-header">
          <h4 class="card-title">Budget Insurance TPL dan PLL List</h4>
        </div>
        <div class="card-body">
          <!--#region button add-->
          <div class="toolbar">
            <button class="btn btn-info btn-round" (click)="btnAdd()" data-role="R00024200000002C">
              Add
            </button>
          </div>
          <!--#endregion button add-->

          <!--#region list view-->
          <table id="datatablebudgetinsuranceliability" datatable [dtOptions]="dtOptions"
            class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th style="display: none;"></th>
                <th class="disabled-sorting">No</th>
                <th>Code</th>
                <th>Type</th>
                <th>Coverage</th>
                <th>Coverage Amount</th>
                <th>Rate Of Limit(‰)</th>
                <th>Exp Date</th>
                <th>Active</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of listbudgetliability;let i=index ">
                <td class="if-no-edit-btn" style="display: none;"></td>
                <td class="if-no-edit-btn" style="text-align: center;">{{listbudgetliability.numberIndex+i+1}}</td>
                <td style="width: 20%;text-align: center;">{{row.code}}</td>
                <td style="width: 10%;">{{row.type}}</td>
                <td style="width: 20%;">{{row.coverage_description}}</td>
                <td style="width: 20%;text-align: right;">{{row.coverage_amount | number :
                    '1.2-2'}}</td>
                <td style="width: 10%;text-align: right;">{{row.rate_of_limit | number :
                    '1.6-6'}}</td>
                <td style="width: 10%;text-align: center;">{{row.exp_date}}</td>
                <td style="width: 10%;;">{{row.is_active}}</td>
                <td style="text-align: center;">
                  <a class="btn btn-warning btn-link btn-icon btn-sm edit" title="Edit" (click)="btnEdit(row.code)"><i
                      class="fa fa-edit"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <!--#endregion list view-->
        </div>
      </div>
    </div>
  </div>
</div>