<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card-body ">
        <!--#region form-->
        <form #printingForm="ngForm" (ngSubmit)="onFormSubmit(printingForm.value, printingForm.valid)">
          <!--#region row-->
          <div class="row">
            <!--#region reff_code -->
            <input type="text" class="form-control" [ngModel]="this.param" name="p_application_no" hidden>
            <!--#endregion reff_code -->

            <!--#region agreement_sign_date-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="p_agreement_sign_date" class="control-label">Agreement Sign Date *</label>
                <input disabled class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                  [ngModel]="model.agreement_sign_date" name="p_agreement_sign_date" [options]="myDatePickerOptions"
                  required #p_agreement_sign_date="ngModel" #agreement_sign_date="angular-mydatepicker"
                  autocomplete="off" />
                <small
                  *ngIf="(p_agreement_sign_date.errors?.required && p_agreement_sign_date.touched) || (p_agreement_sign_date.errors?.required && printingForm.submitted)"
                  class="text-danger">
                  Agreement Sign Date is required
                </small>
              </div>
            </div>
            <!--#endregion agreement_sign_date-->
          </div>
          <!--#endregion row-->
        </form>
        <!--#endregion form-->
      </div>
    </div>
  </div>
</div>