<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Pricelist Detail Info</h4>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #pricelistdetailForm="ngForm"
            (ngSubmit)="onFormSubmit(pricelistdetailForm.value, pricelistdetailForm.valid)">

            <!--#region button submit dan back-->
            <button [hidden]="isReadOnly" type="save" class="btn btn-info btn-round"
              data-role="R00020050002006C">Save</button>
            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button submit dan back-->

            <!--#region row-->
            <div class="row">
              <!--#region id-->
              <input hidden type="text" [ngModel]="this.params" name="p_id">
              <!--#endregion id-->

              <!--#region  agent Code-->
              <input type="text" [ngModel]="this.param" name="p_vehicle_pricelist_code" hidden>
              <!--#endregion  agent Code-->

              <!--#region Date-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="p_effective_date" class="control-label">Date *</label>
                  <input [ngStyle]="getStyles(isReadOnly)" class="form-control col-md-6" placeholder="dd/mm/yyyy"
                    angular-mydatepicker [ngModel]="model.effective_date" name="p_effective_date"
                    [options]="myDatePickerOptions" (click)="effective_date.toggleCalendar()" required
                    #p_effective_date="ngModel" #effective_date="angular-mydatepicker" autocomplete="off"
                    [readonly]="isReadOnly" />
                  <small
                    *ngIf="(p_effective_date.errors?.required && p_effective_date.touched) || (p_effective_date.errors?.required && pricelistdetailForm.submitted)"
                    class="text-danger">
                    Date is required
                  </small>
                </div>
              </div>
              <!--#endregion Date-->

              <!--#region lookup Branch code -->
              <div class="col-md-4">
                <label>Branch *</label>
                <div class="form-group">
                  <span class="col-md-12">
                    <button [disabled]="isReadOnly" class="btn btn-icon btn-outline-default btn-round btn-md"
                      type="button" (click)="btnLookupBranch()" data-toggle="modal" data-target="#lookupModalBranch"
                      href="#"><i class="fa fa-search-plus"></i></button>
                    {{model.branch_name}}
                    <input type="hidden" class="form-control" [ngModel]="model.branch_code" name="p_branch_code"
                      required #branch_code="ngModel">
                    <input type="hidden" class="form-control" [ngModel]="model.branch_name" name="p_branch_name">
                  </span>
                </div>
                <small
                  *ngIf="branch_code.errors?.required && branch_code.touched || (branch_code.errors?.required && pricelistdetailForm.submitted)"
                  class="text-danger">
                  Branch is required
                </small>
              </div>
              <!--#endregion lookup Branch code -->

              <!--#region lookup currency code -->
              <div class="col-md-4">
                <label>Currency *</label>
                <div class="form-group">
                  <span class="col-md-12">
                    <button [disabled]="isReadOnly" class="btn btn-icon btn-outline-default btn-round btn-md"
                      type="button" (click)="btnLookupCurrency()" data-toggle="modal" data-target="#lookupModalCurrency"
                      href="#"><i class="fa fa-search-plus"></i></button>
                    {{model.currency_code}}
                    <input type="hidden" class="form-control" [ngModel]="model.currency_code" name="p_currency_code"
                      required #currency_code="ngModel">
                  </span>
                </div>
                <small
                  *ngIf="currency_code.errors?.required && currency_code.touched || (currency_code.errors?.required && pricelistdetailForm.submitted)"
                  class="text-danger">
                  Currency is required
                </small>
              </div>
              <!--#endregion lookup currency code -->
            </div>
            <!--#endregion row-->

            <!--#region row-->
            <div class="row">
              <!--#region Asset Value -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="asset_value" class="control-label">Asset Value *</label>
                  <input [readonly]="isReadOnly" type="text" class="form-control col-md-6" style="text-align: right;"
                    amount="asset_value" [ngModel]="model.asset_value | number : '1.2-2'" name="p_asset_value" required
                    #asset_value="ngModel" (change)="assetValue($event)">
                  <small
                    *ngIf="(asset_value.errors?.required && asset_value.touched) || (asset_value.errors?.required && pricelistdetailForm.submitted)"
                    class="text-danger">
                    Asset Value From is required
                  </small>
                </div>
              </div>
              <!--#endregion Asset Value -->

              <!--#region DP PCT  -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="dp_pct" class="control-label"> DP PCT *</label>
                  <input [readonly]="isReadOnly" type="text" style="text-align: right;" class="form-control col-md-6"
                    rate="dp_pct" [ngModel]="model.dp_pct | number : '1.6-6'" name="p_dp_pct" required #dp_pct="ngModel"
                    (change)="dpPct($event)">
                  <small
                    *ngIf="(dp_pct.errors?.required && dp_pct.touched) || (dp_pct.errors?.required && pricelistdetailForm.submitted)"
                    class="text-danger">
                    DP PCT From is required
                  </small>
                  <small *ngIf="this.notValid == true" class="text-danger">
                    DP PCT cannot greater than 100.
                  </small>
                </div>
              </div>
              <!--#endregion DP PCT  -->

              <!--#region DP Amount -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="dp_amount" class="control-label">DP Amount *</label>
                  <input [readonly]="isReadOnly" type="text" style="text-align: right;" class="form-control col-md-6"
                    amount="dp_amount" [ngModel]="model.dp_amount | number : '1.2-2'" name="p_dp_amount" required
                    #dp_amount="ngModel" (change)="dpAmount($event)">
                  <small
                    *ngIf="(dp_amount.errors?.required && dp_amount.touched) || (dp_amount.errors?.required && pricelistdetailForm.submitted)"
                    class="text-danger">
                    DP Amount From is required
                  </small>
                  <small *ngIf="this.notValid == true  && dp_pct.touched" class="text-danger">
                    DP Amount cannot bigger than asset value.
                  </small>
                </div>
              </div>
              <!--#endregion  DP Amount -->
            </div>
            <!--#endregion row-->

            <!--#region row-->
            <div class="row">
              <!--#region Financing Amount -->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Financing Amount </label>
                  <input type="text" style="text-align: right;" class="form-control col-md-6" amount="financing_amount"
                    [ngModel]="model.financing_amount | number : '1.2-2'" name="p_financing_amount" readonly>
                </div>
              </div>
              <!--#endregion  Financing Amount -->
            </div>
            <!--#endregion row-->
          </form>
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>
</div>

<!--#region modal lookup Branch code-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalBranch"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <form>
          <div class="col-md-12">
            <div class="card-body col-md-12" style="width: 100%">
              <table id="datatableLookupBranch" class="table table-striped table-bordered hover" cellspacing="0"
                style="min-width: 100%;">
                <thead>
                  <tr>
                    <th style="display: none;"></th>
                    <th class="disabled-sorting">No</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th style="text-align: center;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lookupBranch;let i=index ">
                    <td class="if-no-edit-btn" style="display: none;"></td>
                    <td class="if-no-edit-btn" style="text-align: center;">{{lookupBranch.numberIndex+i+1}}</td>
                    <td style="width:20%;text-align: center">{{ row.code }}</td>
                    <td style="width:80%;">{{ row.name }}</td>
                    <td class="text-right">
                      <button class="btn btn-outline-default btn-round"
                        (click)="btnSelectRowBranch(row.code, row.name)">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--#endregion modal lookup Branch code-->

<!--#region modal lookup Currency code-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalCurrency"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <form>
          <div class="col-md-12">
            <div class="card-body col-md-12" style="width: 100%">
              <table id="datatableLookupCurrency" class="table table-striped table-bordered hover" cellspacing="0"
                style="min-width: 100%;">
                <thead>
                  <tr>
                    <th style="display: none;"></th>
                    <th class="disabled-sorting">No</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th style="text-align: center;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lookupCurrency;let i=index ">
                    <td class="if-no-edit-btn" style="display: none;"></td>
                    <td class="if-no-edit-btn" style="text-align: center;">{{lookupCurrency.numberIndex+i+1}}</td>
                    <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                    <td style="width: 80%;">{{ row.description }}</td>
                    <td class="text-right">
                      <button class="btn btn-outline-default btn-round"
                        (click)="btnSelectRowCurrency(row.code, row.description)">Select</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--#endregion modal lookup Currency code-->