<div class="main-content">
    <!-- spinner region -->
    <div class="panel-container-spinner" *ngIf="showSpinner">
        <app-spinner class="spinner-container"></app-spinner>
    </div>
    <!-- end spinner region -->
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <!--#region watermark-->
                <div class="watermark" hidden>
                    <h6>{{this.companyName}}</h6>
                    <h6>{{this.userName}}</h6>
                    <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
                </div>
                <!--#endregion watermark-->

                <div class="card-header ">
                    <h4 class="card-title">Budget Replacement Detail Info</h4>
                </div>
                <div class="card-body ">
                    <!--#region form-->
                    <form #budgetrequestdetaildetaidetailForm="ngForm"
                        (ngSubmit)="onFormSubmit(budgetrequestdetaildetaidetailForm.value, budgetrequestdetaildetaidetailForm.valid)">

                        <!--#region button save dan back-->
                        <button type="submit" class="btn btn-info btn-round" data-role="R00023990000006C">Save</button>
                        <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
                        <!--#endregion button save dan back-->

                        <!--#region row-->
                        <div class="row">
                            <!--#region budget_code-->
                            <input type="text" class="form-control" [ngModel]="this.param" name="p_budget_code" hidden>
                            <!--#endregion budget_code-->

                            <!--#region id-->
                            <input type="text" class="form-control" [ngModel]="this.params" name="p_id" hidden>
                            <!--#endregion id-->

                            <!--#region eff_date-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="p_eff_date" class="control-label">Effective Date *</label>
                                    <input [ngStyle]="getStyles(false)" class="form-control col-md-6"
                                        placeholder="dd/mm/yyyy" angular-mydatepicker [ngModel]="model.eff_date"
                                        name="p_eff_date" [options]="myDatePickerOptions"
                                        (click)="eff_date.toggleCalendar()" required #p_eff_date="ngModel"
                                        #eff_date="angular-mydatepicker" autocomplete="off" [readonly]="isReadOnly" />
                                    <small
                                        *ngIf="(p_eff_date.errors?.required && p_eff_date.touched) || (p_eff_date.errors?.required && budgetrequestdetaildetaidetailForm.submitted)"
                                        class="text-danger">
                                        Effective Date is required
                                    </small>
                                </div>
                            </div>
                            <!--#endregion eff_date-->

                            <!--#region budget_rate-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Rate (%) / Year *</label>
                                    <input type="text" class="form-control col-md-4" style="text-align: right;"
                                        [ngModel]="model.budget_rate | number : '1.6-6'" rate="budget_rate"
                                        name="p_budget_rate" required #budget_rate="ngModel">
                                    <small
                                        *ngIf="(budget_rate.errors?.required && budget_rate.touched) || (budget_rate.errors?.required && budgetrequestdetaildetaidetailForm.submitted)"
                                        class="text-danger">
                                        Rate is required
                                    </small>
                                </div>
                            </div>
                            <!--#endregion budget_rate-->

                            <!--#region radio button base_calculate-->
                            <div class="col-md-4" hidden>
                                <label>Calculate Base</label>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="form-check-radio form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="p_base_calculate"
                                                    value="VAT" [(ngModel)]="model.base_calculate">Asset With VAT
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                        <div class="form-check-radio form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="p_base_calculate"
                                                    value="NON VAT" [(ngModel)]="model.base_calculate">Asset Without VAT
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--#endregion radio button base_calculate-->
                        </div>
                        <!--#endregion row-->
                        <div class="row" hidden>
                            <!--#region cycle-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="p_cycle" class="control-label">Cycle</label>
                                    <select class="form-control col-md-6" name="p_cycle" #cycle="ngModel"
                                        [ngModel]="model.cycle">
                                        <option value='IN FRONT'>IN FRONT</option>
                                        <option value='MONTHLY'>MONTHLY</option>
                                        <option value='YEARLY'>YEARLY & END PERIODE</option>
                                        <option value='END PERIODE'>END PERIODE</option>
                                    </select>
                                </div>
                            </div>
                            <!--#endregion cycle-->
                        </div>
                    </form>
                    <!--#endregion form-->
                </div>
                <div class="card-footer ">
                </div>
            </div>
        </div>
    </div>
</div>