<div class="main-content mt-5">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card-body ">
        <!--#region form-->
        <form #signerlistForm="ngForm" (ngSubmit)="onFormSubmit(signerlistForm.value, signerlistForm.valid)">
          <!--#region button submit-->
          <button type="submit" class="btn btn-info btn-round">Save</button><br>
          <!--#endregion button submit-->

          <!--#region row-->
          <div class="row">
            <!--#region reff_code -->
            <input type="text" class="form-control" [ngModel]="this.param" name="p_reff_code" hidden>
            <!--#endregion reff_code -->

            <!--#region code -->
            <input type="text" class="form-control" [ngModel]="model.code" name="p_code" hidden>
            <input type="text" class="form-control" [ngModel]="model.code" name="p_code1" hidden>
            <!--#endregion code -->

            <!--#region flow_type -->
            <input type="text" class="form-control" [ngModel]="model.flow_type" name="p_flow_type" hidden>
            <!--#endregion flow_type -->

            <!--#region employee_name -->
            <input type="text" class="form-control" [ngModel]="model.employee_name" name="p_employee_name" hidden>
            <!--#endregion employee_name -->
          </div>
          <!--#endregion row-->

          <!--#region row-->
          <div class="row">
            <!--#region signer_remarks-->
            <div class="col-md-4">
              <div class="form-group">
                <label for="signer_remarks" class="control-label">Remark *</label>
                <textarea type="text" class="form-control" [ngModel]="model.signer_remarks" name="p_signer_remarks"
                  required #signer_remarks="ngModel"></textarea>
                <small *ngIf="signer_remarks.errors?.required && signer_remarks.touched" class="text-danger">
                  Remark is required
                </small>
              </div>
            </div>
            <!--#endregion signer_remarks-->
          </div>
          <!--#endregion row-->
        </form>
        <!--#endregion form-->
      </div>
    </div>
  </div>
</div>