<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" hidden>
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->

        <div class="card-header ">
          <h4 class="card-title">SP Delivery Settlement Info</h4>
        </div>
        <div class="card-body ">

          <!--#region form-->
          <form #spdeliverysettlementForm="ngForm"
            (ngSubmit)="onFormSubmit(spdeliverysettlementForm.value, spdeliverysettlementForm.valid)">

            <!--#region button submit dan back-->
            <button [hidden]="model.code == null || model.delivery_status !== 'ON PROCESS'" type="button"
              data-role="R00021030002104O" class="btn btn-success btn-round"
              (click)="btnSettlement(model.code)">Post</button>

            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button submit dan back-->

            <!--#region row-->
            <div class="row">
              <!--#region Code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="code" class="control-label">Delivery No</label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.code" name="p_code"
                    required #code="ngModel">
                  <small
                    *ngIf="(code.errors?.required && code.touched) || (code.errors?.required && spdeliverysettlementForm.submitted)"
                    class="text-danger">
                    Delivery No is required
                  </small>
                </div>
              </div>
              <!--#endregion Code-->

              <!--#region lookup Branch Code -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="branch_code" class="control-label labelmodule">Branch *</label>
                  <div class="col-md-12 buttons">
                    <span>
                      <button disabled class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin"
                        type="button" (click)="btnLookupBranch()" data-toggle="modal"
                        data-target="#lookupModalSysBranch" href="#"><i class="fa fa-search-plus"></i></button>
                      {{model.branch_name}}
                      <input type="hidden" class="form-control" [ngModel]="model.branch_code" name="p_branch_code">
                      <input type="hidden" class="form-control" [ngModel]="model.branch_name" name="p_branch_name"
                        required #branch_name="ngModel">
                    </span>
                    <small [hidden]="branch_name.valid || (branch_name.pristine && !spdeliverysettlementForm.submitted)"
                      class="text-danger">
                      Branch is required
                    </small>
                  </div>
                </div>
              </div>
              <!--#region lookup Branch Code -->

              <!--#region Status-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="delivery_status" class="control-label">Status </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.delivery_status"
                    name="p_delivery_status" required #delivery_status="ngModel">
                  <small
                    *ngIf="(delivery_status.errors?.required && delivery_status.touched) || (delivery_status.errors?.required && spdeliverysettlementForm.submitted)"
                    class="text-danger">
                    Status is required
                  </small>
                </div>
              </div>
              <!--#endregion Status-->

              <!--#region Delivery Date-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="delivery_date" class="control-label">Date </label>
                  <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                    [ngModel]="model.delivery_date" name="p_delivery_date" [options]="myDatePickerOptions"
                    #p_delivery_date="ngModel" #delivery_date="angular-mydatepicker" autocomplete="off" readonly />
                </div>
              </div>
              <!--#endregion Delivery Date-->

              <!--#region loading type-->
              <div class="col-md-4">
                <label>Type </label>
                <div class="form-group">
                  <div class="form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input disabled class="form-check-input" type="radio" name="p_delivery_courier_type"
                        value="INTERNAL" [(ngModel)]="model.delivery_courier_type">INTERNAL
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input disabled class="form-check-input" type="radio" name="p_delivery_courier_type"
                        value="EXTERNAL" [(ngModel)]="model.delivery_courier_type">EXTERNAL
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!--#endregion delivery_courier type-->

              <!--#region Delivery courier code -->
              <div class="col-md-4" [hidden]="model.delivery_courier_type != 'EXTERNAL'">
                <div class="form-group">
                  <label>Courier </label>
                  <div class="col-md-12 buttons">
                    <button disabled class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin"
                      type="button" (click)="btnLookupDeliveryCourier()" data-toggle="modal"
                      data-target="#lookupModalDeliveryCourier" href="#"><i class="fa fa-search-plus"></i></button>
                    {{model.courier}}
                    <input type="hidden" class="form-control" [ngModel]="model.delivery_courier_code"
                      name="p_delivery_courier_code" [required]="model.delivery_courier_type != 'EXTERNAL'"
                      #delivery_courier_code="ngModel">
                    <input type="hidden" class="form-control" [ngModel]="model.courier" name="p_description">
                  </div>
                  <small
                    [hidden]="delivery_courier_code.valid || (delivery_courier_code.pristine && !spdeliverysettlementForm.submitted)"
                    class="text-danger">
                    Courier is required
                  </small>
                </div>
              </div>
              <!--#region lookup Delivery courier code -->

              <!--#region Delivery collector code -->
              <div class="col-md-4" [hidden]="model.delivery_courier_type != 'INTERNAL'">
                <div class="form-group">
                  <label>Collector </label>
                  <div class="col-md-12 buttons">
                    <button disabled class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin"
                      type="button" (click)="btnLookupDeliverycollector()" data-toggle="modal"
                      data-target="#lookupModalDeliverycollector" href="#"><i class="fa fa-search-plus"></i></button>
                    {{model.delivery_collector_name}}
                    <input type="hidden" class="form-control" [ngModel]="model.delivery_collector_code"
                      name="p_delivery_collector_code" [required]="model.delivery_courier_type === 'INTERNAL'"
                      #delivery_collector_code="ngModel">
                    <input type="hidden" class="form-control" [ngModel]="model.collector_name"
                      name="p_delivery_collector_name">
                  </div>
                  <small
                    [hidden]="delivery_collector_code.valid || (delivery_collector_code.pristine && !spdeliverysettlementForm.submitted)"
                    class="text-danger">
                    Collector is required
                  </small>
                </div>
              </div>
              <!--#region lookup Delivery collector code -->

              <!--#region Delivery Remarks-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="delivery_remarks" class="control-label">Remark </label>
                  <textarea disabled type="text" class="form-control" [ngModel]="model.delivery_remarks"
                    name="p_delivery_remarks" required #delivery_remarks="ngModel"></textarea>
                  <small
                    *ngIf="(delivery_remarks.errors?.required && delivery_remarks.touched) || (delivery_remarks.errors?.required && spdeliverysettlementForm.submitted)"
                    class="text-danger">
                    Remark is required
                  </small>
                </div>
              </div>
              <!--#endregion Delivery Remarks-->
            </div>
            <!-- endregion row -->
          </form>
          <!--#endregion form-->
        </div>
        <div *ngIf="param != null">
          <!--#region list view-->
          <span layout="row horizontal-divider">
            <hr flex />
          </span>
          <div class="row">
            <div class="col-md-12">
              <div class="card-header">
                <h4 class="card-title">SP Settlement Detail List </h4>
              </div>
              <div class="card-body">

                <button [hidden]="model.code == null || model.delivery_status !== 'ON PROCESS'" type="button"
                  class="btn btn-info btn-round" (click)="btnSaveList()">Save</button>

                <!--#region list view-->
                <table id="datatableSpDeliverySettlementDetail" datatable [dtOptions]="dtOptions"
                  class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th style="display: none;"></th>
                      <th class="disabled-sorting">No</th>
                      <th>Agreement No</th>
                      <th>SP No / Date / Type</th>
                      <th>Status</th>
                      <th>Received</th>
                      <th>File Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of listspdeliverysettlementdetail;let i=index ">
                      <td style="display: none;"></td>
                      <td style="text-align: center;">{{listspdeliverysettlementdetail.numberIndex+i+1}}</td>
                      <td style="width: 15%;" class="text-left">{{ row.agreement_no}}<br>{{ row.client_name }}</td>
                      <td style="width: 15%;" class="text-left">{{ row.letter_no}} <br> {{ row.letter_date}} <br> {{
                        row.letter_type}}</td>
                      <td style="width: 20%;">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Received Status</label>
                            <select class='form-control' [disabled]="model.delivery_status === 'POST'"
                              value="{{row.received_status}}" name="p_received_status"
                              (change)="ReceivedStatus($event, row.id)">
                              <option hidden value=''></option>
                              <option value='DELIVERED'>DELIVERED</option>
                              <option value='NOT DELIVERED'>NOT DELIVERED</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Received By</label>
                            <select class='form-control' value="{{row.received_by}}" name="p_received_by"
                              [disabled]="row.received_status !== 'DELIVERED' || model.delivery_status === 'POST'"
                              (change)="ReceivedBy($event, row.id)">
                              <option hidden value=''></option>
                              <option value='CLIENT'>CLIENT</option>
                              <option value='OTHER'>OTHER</option>
                            </select>
                          </div>
                        </div>
                      </td>
                      <td style="width: 25%;vertical-align: top">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="received_date" class="control-label">Received Date *</label>
                            <input
                              [ngStyle]="getStyles(row.received_status !== 'DELIVERED' || model.delivery_status === 'POST')"
                              class="form-control col-md-8" placeholder="dd/mm/yyyy" angular-mydatepicker
                              value="{{row.received_date}}" name="p_received_date" [options]="myDatePickerOptions"
                              (click)="received_date.toggleCalendar()" #received_date="angular-mydatepicker"
                              autocomplete="off"
                              [readonly]="row.received_status !== 'DELIVERED' || model.delivery_status === 'POST'" />
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="received_remarks" class="control-label">Received Remark *</label>
                            <textarea type="text" class="form-control" value="{{row.received_remarks}}"
                              name="p_received_remarks" [disabled]="model.delivery_status === 'POST'"></textarea>
                          </div>
                        </div>
                      </td>
                      <td style="width: 20%;">
                        <input hidden name="p_id" [ngModel]="row.id">
                        <input [hidden]="(row.file_name != '' && row.file_name != null)"
                          [disabled]="model.delivery_status === 'POST'" type="file"
                          (change)="onUpload($event, row.id)" />
                        <a>{{row.file_name}}</a>
                      </td>
                      <td style="width: 5%;text-align: center;" class="if-no-edit-btn">
                        <span>
                          <a [hidden]="row.file_name == '' || row.file_name == null"
                            (click)="previewFile(row.file_name, row.paths)" style="cursor: pointer;">
                            Preview</a> <br>
                          <a [hidden]="row.file_name == '' || row.file_name == null || model.delivery_status === 'POST'"
                            (click)="deleteImage(row.id, row.paths, row.file_name)" style="cursor: pointer;">
                            Remove</a>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--#endregion list view-->
              </div>
            </div>
          </div>
          <!--#endregion list view-->
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>
</div>

<!--#region modal lookup Branch-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalSysBranch"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupBranch" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th style="width: 20%;">Code</th>
                  <th style="width: 75%;">Name</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupbranch;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupbranch.numberIndex+i+1}}</td>
                  <td style="text-align: center;">{{ row.code }}</td>
                  <td>{{ row.name }}</td>
                  <td class="text-right">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowBranch(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion modal lookup Branch-->

<!--#region modal lookup DeliveryCourier-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalDeliveryCourier"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupDeliveryCourier" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th style="width: 20%;">Code</th>
                  <th style="width: 75%;">Name</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupDeliveryCourier;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupDeliveryCourier.numberIndex+i+1}}</td>
                  <td style="text-align: center;">{{ row.code }}</td>
                  <td>{{ row.description }}</td>
                  <td class="text-right">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowDeliveryCourier(row.code,row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup DeliveryCourier-->

<!--#region modal lookup DeliveryCollector-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalDeliverycollector"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupDeliveryCollector" class="table table-striped table-bordered hover"
              cellspacing="0" style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th style="width: 20%;">Code</th>
                  <th style="width: 75%;">Name</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupDeliverycollector;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupDeliverycollector.numberIndex+i+1}}</td>
                  <td style="text-align: center;">{{ row.code }}</td>
                  <td>{{ row.collector_name }}</td>
                  <td class="text-right">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowDeliverycollector(row.code, row.collector_name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup DeliveryCollector-->