<router-outlet></router-outlet>

<div id="hideMainPanelWiz" class="main-content margin-wizard-content">
    <!-- spinner region -->
    <div class="panel-container-spinner" *ngIf="showSpinner">
        <app-spinner class="spinner-container"></app-spinner>
    </div>
    <!-- end spinner region -->

    <div class="row">
        <div class="col-md-12">
            <div>
                <!--#region watermark-->
                <div class="watermark" hidden>
                    <h6>{{this.companyName}}</h6>
                    <h6>{{this.userName}}</h6>
                    <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
                </div>
                <!--#endregion watermark-->

                <div class="card-header ">
                    <h4 class="card-title">Asset Info</h4>
                </div>
                <div class="card-body ">
                    <!--#region form-->
                    <!--#region button post, Back-->
                    <button type="button" class="btn btn-info btn-round" (click)="btnSaveList()">Save</button>
                    <!--#endregion button post, Back-->
                    <!--#region button post, Back-->
                    <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
                    <!--#endregion button post, Back-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region p_agreement_no-->
                        <input type="text" class="form-control" [ngModel]="this.param" name="p_agreement_no" hidden>
                        <!--#endregion p_agreement_no-->

                        <!--#region asset_no-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Asset No</label>
                                <input type="text" class="form-control" [ngModel]="model.asset_no" maxlength="50"
                                    name="p_asset_no" disabled>
                            </div>
                        </div>
                        <!--#endregion asset_no-->

                        <!--#region collateral_type_desc-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="asset_type_name" class="control-label">Asset Type </label>
                                <input type="text" class="form-control" [ngModel]="model.asset_type_name"
                                    name="p_asset_type_name" readonly>
                            </div>
                        </div>
                        <!--#endregion collateral_type_desc-->

                        <!--#region asset_name-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="asset_name" class="control-label">Asset Name </label>
                                <input type="text" class="form-control" [ngModel]="model.asset_name" maxlength="250"
                                    name="p_asset_name" required #asset_name="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion asset_name-->
                    </div>
                    <!--#endregion row-->

                    <!--#region row-->
                    <div class="row">
                        <!--#region asset_year-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="asset_year" class="control-label">Asset Year </label>
                                <input type="text" class="form-control col-md-4" [ngModel]="model.asset_year"
                                    maxlength="4" name="p_asset_year" #asset_year="ngModel"
                                    onKeyPress="if(this.value.length==4) return false;" min="0" readonly>
                            </div>
                        </div>
                        <!--#endregion asset_year-->

                        <!--#region unit_source-->
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Unit Source</label>
                                <input type="text" class="form-control col-md-4" [ngModel]="model.unit_source"
                                    name="p_unit_source" readonly #unit_source="ngModel" readonly>
                            </div>
                        </div> -->
                        <!--#endregion unit_source-->

                        <!--#region asset_condition -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Asset Condition</label>
                                <input type="text" class="form-control col-md-4" [ngModel]="model.asset_condition"
                                    name="p_asset_condition" readonly>
                            </div>
                        </div>
                        <!--#endregion asset_condition -->

                        <!--#region asset_amount-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="asset_amount" class="control-label">Asset Amount</label>
                                <input type="text" class="form-control"
                                    [ngModel]="model.asset_amount | number : '1.2-2'" style="text-align: right;"
                                    maxlength="5" name="p_asset_amount" #asset_amount="ngModel" readonly>
                            </div>
                        </div>
                        <!--#endregion asset_amount-->
                    </div>
                    <!--#endregion row-->

                    <!--#region changeduedate detail row-->
                    <div class="row">

                        <!--#region billing_mode-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Billing Mode</label>
                                <!-- <select class="form-control col-md-6" name="p_billing_mode" [ngModel]="model.billing_mode" (change)="PageStatus($event)"> -->
                                <select class="form-control col-md-6" name="p_billing_mode"
                                    [(ngModel)]="model.billing_mode">
                                    <option value="NORMAL">Normal</option>
                                    <option value="BEFORE DUE">Before Due</option>
                                    <option value="DATE">Date</option>
                                    <option value="END MONTH">End Month</option>
                                </select>
                            </div>
                        </div>
                        <!--#endregion rounding billing_mode-->

                        <!--#region billing_mode_date-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="billing_mode_date" class="control-label">Date *</label>
                                <input [disabled]="this.pageType != null"
                                    [readonly]="this.model.billing_mode === 'NORMAL' || this.model.billing_mode === 'END MONTH'"
                                    type="text" class="form-control col-md-4" [ngModel]="model.billing_mode_date"
                                    name="p_billing_mode_date" required #billing_mode_date="ngModel" maxlength="4"
                                    pattern="{{NumberOnlyPattern}}"
                                    [value]="this.model.billing_mode === 'NORMAL' || this.model.billing_mode === 'END MONTH' ? '0' : model.billing_mode_date">
                                <small
                                    *ngIf="(billing_mode_date.errors?.required && billing_mode_date.touched) || (billing_mode_date.errors?.required && btnSaveList)"
                                    class="text-danger">
                                    Date is required
                                </small>
                                <small *ngIf="billing_mode_date.errors?.pattern && billing_mode_date.touched"
                                    class="text-danger">
                                    Date is required and format should be <i>0-9</i>
                                </small>
                            </div>
                        </div>
                        <!--#endregion billing_mode_date-->

                        <!--#region prorate-->
                        <div class="col-md-4">
                            <label>Prorate *</label>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="p_prorate" value="YES"
                                                [(ngModel)]="model.prorate">Yes
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="p_prorate" value="NO"
                                                [(ngModel)]="model.prorate">No
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--#endregion prorate-->
                        <!--#endregion changeduedate detail row-->
                    </div>

                    <!--#endregion form-->
                    <span layout="row horizontal-divider">
                        <hr flex />
                    </span>
                    <!--#region list view-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-header">
                                <h4 class="card-title">Agreement Asset Amortization</h4>
                            </div>
                            <div class="card-body">
                                <!--#region button post, Back-->
                                <button type="button" class="btn btn-info btn-round" (click)="btnSaveList()"
                                    [hidden]="model.is_change_billing_date !== '1'">Save</button>
                                <!--#endregion button post, Back-->
                                <!--#region list view-->
                                <table id="datatableAgreement" datatable [dtOptions]="dtOptions"
                                    class="table table-striped table-bordered row-border hover" cellspacing="0"
                                    width="100%">
                                    <thead>
                                        <tr>
                                            <th style="display: none;"></th>
                                            <th class="disabled-sorting">No</th>
                                            <th>Asset No</th>
                                            <th>Billing No</th>
                                            <th>Due Date</th>
                                            <th>Billing Date</th>
                                            <th>From - To Date</th>
                                            <th>Description</th>
                                            <th>Billing Amount</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let row of listchangeduedateagreementamortizationhistory;let i=index">
                                            <td class="if-no-edit-btn" style="display: none;">
                                                {{row.installment_no}}
                                                <input type="hidden" name="p_id_doc" [value]="row.installment_no" />
                                                <input type="hidden" name="p_due_date_change_code"
                                                    [value]="row.due_date_change_code" />
                                                <input type="hidden" name="p_asset_no_row" [value]="row.asset_no" />
                                                <input type="hidden" name="p_billing_date" [value]="row.billing_date" />
                                                <input type="hidden" name="p_installment_no"
                                                    [value]="row.installment_no" />
                                            </td>
                                            <td style="text-align: center;">
                                                {{listchangeduedateagreementamortizationhistory.numberIndex+i+1}}</td>
                                            <td style="width: 25%;text-align: left;">{{row.asset_no}} <br>
                                                {{row.asset_name}}</td>
                                            <td style="width: 10%;text-align: center;">
                                                {{row.installment_no}}
                                            </td>
                                            <td style="width: 10%;text-align: center;">
                                                {{row.due_date}}
                                            </td>
                                            <!-- <td style="width: 10%;text-align: center;">{{row.billing_date}}</td> -->
                                            <!-- ----------------------------------------------------------------------------------------------------------------------- -->
                                            <td class="if-no-edit-btn" style="width: 10%;">
                                                <div style="text-align: center;">{{row.billing_date}} <br></div>


                                                <input class="form-control col-md-12"
                                                    [placeholder]="row.billing_date ? row.billing_date : 'dd/mm/yyyy'"
                                                    angular-mydatepicker [ngModel]="row.billing_date"
                                                    name="p_new_billing_date_day" [options]="myDatePickerOptions"
                                                    (click)="change_date.toggleCalendar()" required
                                                    #p_change_date="ngModel" #change_date="angular-mydatepicker"
                                                    autocomplete="off" id="new_billing_date_day{{i}}"
                                                    style="text-align: center;" />

                                                <!-- ----------------------------------------------------------------------------------------------------------------------- -->
                                                <!-- [ngStyle]="getStyles(row.is_change === true)" /> -->

                                                <!-- <td style="width: 15%;text-align: right;">
                                                <input id="p_new_billing_date_day{{i}}"
                                                    (blur)="onBlur($event,i,'p_new_billing_date_day')"
                                                    (focus)="onFocus($event,i,'p_new_billing_date_day')" class="col-md-12"
                                                    style="text-align: right;" type="text"
                                                    value="{{row.p_new_billing_date_day | number : '1.2-2'}}"
                                                    amount="p_new_billing_date_day" name="p_p_new_billing_date_day"
                                                    (change)="changeAdjusmentAmount($event, row.id)"
                                                    [disabled]="model.status !== 'HOLD'"> -->
                                                <!-- </td> -->
                                            </td>
                                            <td style="width: 10%;text-align: center;">{{row.billing_date}} -
                                                {{row.billing_date}}</td>
                                            <td style="width: 35%;text-align: left;">{{row.description}}</td>
                                            <td style="width: 10%;text-align: right;">{{row.billing_amount | number :
                                                '1.2-2'}}</td>
                                            <td style="width: 10%;text-align: center;">{{row.old_or_new}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--#endregion list view-->
                            </div>
                        </div>
                    </div>
                    <!--#endregion list view-->
                </div>
            </div>
        </div>
    </div>
</div>