<div class="main-content margin-wizard-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <!--#region button Print-->
                <div class="toolbar">
                    <button type="button" class="btn btn-success btn-round" (click)="btnProcess()" data-role="R00021010002102O">
                        Proceed
                    </button>
                </div>
                <!--#endregion button Print-->

                <!-- region row -->
                <div class="row">
                    <!--#region lookup Branch Code -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="branch_name" class="control-label labelmodule" (click)="btnClearBranch()"
                            style="cursor: pointer;" title="Clear">Branch</label>
                            <div class="col-md-12 buttons">
                                <span>
                                    <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin"
                                        type="button" (click)="btnLookupSysBranch()" data-toggle="modal"
                                        data-target="#lookupModalSysBranchcode" href="#"><i
                                            class="fa fa-search-plus"></i></button>
                                    {{branch_name}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--#endregion lookup Branch code -->
                </div>
                <!-- #endregion row -->

                <!--#Sp1 list view-->
                <table id="datatableSp1List" datatable [dtOptions]="dtOptions"
                    class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="disabled-sorting">No</th>
                            <th class="disabled-sorting">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" id="checkall"
                                            [(ngModel)]="selectedAll" (change)="selectAllTable();" />
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </th>
                            <th>SP No</th>
                            <th>Branch</th>
                            <th>Letter Date</th>
                            <th>Generate Type</th>
                            <th>Client Name</th>
                            <th>Overdue Days</th>
                            <th>Total Overdue Amount</th>
                            <th>Total Agreement</th>
                            <th>Total Asset</th>
                            <th>Total Monthly Rental Rounded Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of listsp1 ;let i=index ">
                            <td style="text-align: center;">{{listsp1.numberIndex+i+1}}</td>
                            <td class="disabled-sorting">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="row.selected"
                                            (change)="checkIfAllTableSelected($event, row.code);">
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </td>
                            <td style="text-align: center; width: 10%;">{{row.letter_no}}</td>
                            <td style="text-align: left; width: 10%;">{{row.branch_name}}</td>
                            <td style="text-align: center; width: 5%;">{{row.letter_date}}</td>
                            <td style="text-align: left; width: 10%;">{{row.generate_type}}</td>
                            <td style="text-align: left; width: 15%;">{{row.client_name}}</td>
                            <td style="text-align: center; width: 10%;">{{row.overdue_days}}</td>
                            <td style="text-align: right; width: 10%;">{{row.total_overdue_amount}}</td>
                            <td style="text-align: center; width: 10%;">{{row.total_agreement_count}}</td>
                            <td style="text-align: center; width: 10%;">{{row.total_asset_count}}</td>
                            <td style="text-align: right; width: 10%;">{{row.total_monthly_rental_amount}}</td>
                        </tr>
                    </tbody>
                </table>
                <!--#endSp1 list view-->
            </div>
        </div>
    </div>
</div>

<!--#region modal lookup Branch-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalSysBranchcode"
    style="margin-top: -65px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow:hidden;">
                <div class="col-md-12">
                    <div class="card-body col-md-12">

                        <table id="datatableLookupBranchcode" class="table table-striped table-bordered hover"
                            cellspacing="0" style="min-width: 100%;">
                            <thead>
                                <tr>
                                    <th style="display: none;"></th>
                                    <th class="disabled-sorting">No</th>
                                    <th style="width: 25%;">Code</th>
                                    <th style="width: 75%;">Name</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of lookupbranchcode;let i=index ">
                                    <td style="display: none;"></td>
                                    <td style="text-align: center;">{{lookupbranchcode.numberIndex+i+1}}</td>
                                    <td style="text-align: center; width: 25%;">{{ row.code }}</td>
                                    <td style="text-align: left; width: 75%;">{{ row.name }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-default btn-round"
                                            (click)="btnSelectRowBranchcode(row.code,row.name)">Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion modal lookup Branch-->