<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12 buttons btn-lookup-margin">

      <div class="card-body">
        <!--#region list view-->
        <table id="datatableProfileWiz" datatable [dtOptions]="dtOptions"
          class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th style="display: none;"></th>
              <th>Agreement / Branch / Agreement Date</th>
              <th>Status / Termination Date / Status</th>
              <th>Facility / Purpose Loan / Purpose Loan Detail</th>
              <th>Installment / Outstanding Installment</th>
              <th>Overdue Installment / Days / Installment</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of listprofile">
              <td class="if-no-edit-btn" style="display: none;"></td>
              <td style="width: 20%;text-align: left;">
                {{row.agreement_external_no}}<br>
                {{row.branch_name}}<br>
                {{row.agreement_date}}<br>
              </td>
              <td style="width: 20%;text-align: left;">
                {{row.agreement_status}}<br>
                {{row.termination_status}}<br>
                {{row.termination_date}}<br>
              </td>
              <td style="width: 20%;text-align: left;">
                {{row.facility_name}}<br>
                {{row.purpose_loan_name}}<br>
                {{row.purpose_loan_detail_name}}<br>
              </td>
              <td style="width: 20%;text-align: left;">
                {{row.installment_amount}}<br>
                {{row.outstanding_installment_amount}}<br>
              </td>
              <td style="width: 20%;text-align: left;">
                {{row.overdue_period}}<br>
                {{row.overdue_days}}<br>
                {{row.overdue_installment_amount}}<br>
              </td>
            </tr>
          </tbody>
        </table>
        <!--#endregion list view-->
      </div>
    </div>
  </div>
</div>