<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" hidden>
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->

        <div class="card-header ">
          <h4 class="card-title">Charges Info</h4>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #chargedetailForm="ngForm" (ngSubmit)="onFormSubmit(chargedetailForm.value, chargedetailForm.valid)">

            <!--#region button submit dan back-->
            <button type="submit" class="btn btn-info btn-round" data-role="R00016810021682C">Save</button>
            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button submit dan back-->

            <!--#region row-->
            <div class="row">
              <!--#region Code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="code" class="control-label">Code *</label>
                  <input type="text" class="form-control" [ngModel]="model.code" name="p_code" required #code="ngModel"
                    [readonly]="isReadOnly" maxlength="10">
                  <small
                    *ngIf="(code.errors?.required && code.touched) || (code.errors?.required && chargedetailForm.submitted)"
                    class="text-danger">
                    Code is required
                  </small>
                </div>
              </div>
              <!--#endregion code-->

              <!--#region description-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="description" class="control-label">Description *</label>
                  <textarea type="text" class="form-control" [ngModel]="model.description" maxlength="4000"
                    name="p_description" required #description="ngModel"></textarea>
                  <small
                    *ngIf="(description.errors?.required && description.touched) || (description.errors?.required && chargedetailForm.submitted)"
                    class="text-danger">
                    Description is required
                  </small>
                </div>
              </div>
              <!--#endregion description-->

              <!--#region check box is active-->
              <div class="col-md-4">
                <div class="form-check mt-3" style="margin-left: -35px;">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [ngModel]="model.is_active" name="p_is_active">
                      Active
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!--#endregion check box is active-->
            </div>
            <!--#endregion row-->
          </form>
          <!--#endregion form-->
        </div>

        <div *ngIf="param != null">
          <!--#region list view-->
          <span layout="row horizontal-divider">
            <hr flex />
          </span>
          <div class="row">
            <div class="col-md-12">
              <div class="card-header">
                <h4 class="card-title">Charges Amount List</h4>
              </div>
              <div class="card-body">
                <div class="toolbar">
                  <!--#region button add, delete-->
                  <button class="btn btn-info btn-round" type="button" (click)="btnAdd()" data-role="R00016810031682C">
                    Add
                  </button>
                  <button class="btn btn-danger btn-round" type="button" (click)="btnDeleteAll()"
                    data-role="R00016810001682D">
                    Delete
                  </button>
                  <!--#endregion button add, delete-->
                </div>

                <!--#region facility_code-->
                <div class="col-md-4">
                  <label (click)="resteFacility()" style="cursor: pointer;" title="CLEAR">Facility</label>
                  <div class="form-group">
                    <div class="col-md-12">
                      <button class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupFacility()" data-target="#lookupModalFacility" data-toggle="modal" href="#">
                        <i class="fa fa-search-plus"></i></button> {{model.facility_desc}}
                    </div>
                  </div>
                </div>
                <!--#endregion facility_code-->

                <!--#region list view-->
                <table id="datatableChargeAmount" datatable [dtOptions]="dtOptions"
                  class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="disabled-sorting">No</th>
                      <th class="disabled-sorting checkbox-fix-padding">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="checkall" [(ngModel)]="selectedAll"
                              (change)="selectAllTable();" />
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </th>
                      <th>Effective Date</th>
                      <th>Facility</th>
                      <th>Calculate By</th>
                      <th>Charges Rate</th>
                      <th>Charges Amount</th>
                      <th style="text-align: center;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of listchargeamount;let i=index ">
                      <td class="if-no-edit-btn" style="text-align: center;">{{listchargeamount.numberIndex+i+1}}</td>
                      <td class="disabled-sorting checkbox-fix-padding if-no-edit-btn">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="row.selected"
                              (change)="checkIfAllTableSelected($event, row.code);">
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </td>
                      <td style="width: 20%;text-align: center;">{{row.effective_date}}</td>
                      <td style="width: 35%;">{{row.facility_desc}}</td>
                      <td style="width: 15%;text-align: center;">{{row.calculate_by}}</td>
                      <td style="width: 15%;text-align: right;">{{row.charges_rate | number : '1.6-6'}}</td>
                      <td style="width: 15%;text-align: right;">{{row.currency_code}} <br>
                        {{row.charges_amount | number : '1.2-2'}}</td>
                      <td style="text-align: center;">
                        <a class="btn btn-warning btn-link btn-icon btn-sm edit" title="Edit"
                          (click)="btnEdit(row.code)"><i class="fa fa-edit"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--#endregion list view-->
              </div>
            </div>
          </div>
          <!--#endregion list view-->
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>
</div>

<!--#region lookup Facility-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalFacility"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupFacility" class="table table-striped table-bordered hover" cellspacing="0"
              style="width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupfacility;let i=index ">
                  <td class="if-no-edit-btn" style="display: none;"></td>
                  <td class="if-no-edit-btn" style="text-align: center;">{{lookupfacility.numberIndex+i+1}}</td>
                  <td style="width: 20%;text-align: center;">{{ row.code }}</td>
                  <td style="width: 80%;">{{ row.description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowFacility(row.code, row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup Facility -->