<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" hidden>
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->

        <div class="card-header ">
          <h5 class="card-title">SP Delivery Info</h5>
        </div>
        <div class="card-body ">

          <!--#region form-->
          <form #spdeliveryForm="ngForm" (ngSubmit)="onFormSubmit(spdeliveryForm.value, spdeliveryForm.valid)">

            <button type="submit" class="btn btn-info btn-round" [hidden]="isButton"
              data-role="R00021020002103C">Save</button>
            <button [hidden]="model.code == null || isButton" type="button" data-role="R00021020002103O"
              class="btn btn-success btn-round" (click)="btnPost(spdeliveryForm.valid)">Proceed</button>

            <button [hidden]="model.code == null || isButton" type="button" data-role="R00021020002103R"
              class="btn btn-warning btn-round" (click)="btnCancel(model.code)">Cancel</button>
            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <button type="button" style='float: right;'
            class="btn btn-info btn-print-round btn-round custom-button-width" (click)="btnPrintSP(model.code)"
            data-role="R00021020002104P" [hidden]="param == null">Print SP</button>
            <!-- <button type="button" style='float: right;'
            class="btn btn-info btn-print-round btn-round custom-button-width" (click)="btnPrintSomasiPenyelesaianKewajiban()"
            data-role="R00021020002104P" [hidden]="param == null || isHideButtonPrint !== true">Print
            Somasi Penyelesaian Kewajiban </button>
            <button type="button" style='float: right;'
            class="btn btn-info btn-print-round btn-round custom-button-width" (click)="btnPrintSomasiPenyelesaianKewajibanPengembalian()"
            data-role="R00021020002104P" [hidden]="param == null || isHideButtonPrint === true">Print
            Somasi Penyelesaian Kewajiban dan Pengembalian Kendaraan</button> -->
            <!--#endregion button submit dan back-->

            <!--#region row-->
            <div class="row">

              <!--#region Code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="code" class="control-label">Delivery No *</label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.code" name="p_code"
                    required #code="ngModel">
                  <small
                    *ngIf="(code.errors?.required && code.touched) || (code.errors?.required && spdeliveryForm.submitted)"
                    class="text-danger">
                    Delivery No is required
                  </small>
                </div>
              </div>

              <!--#region lookup Branch Code -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="branch_code" class="control-label labelmodule">Branch *</label>
                  <div class="col-md-12 buttons">
                    <span>
                      <button [disabled]="model.change_status !== 'HOLD'" disabled
                        class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                        (click)="btnLookupBranch()" data-toggle="modal" data-target="#lookupModalSysBranch" href="#"><i
                          class="fa fa-search-plus"></i></button>
                      {{model.branch_name}}
                      <input type="hidden" class="form-control" [ngModel]="model.branch_code" name="p_branch_code">
                      <input type="hidden" class="form-control" [ngModel]="model.branch_name" name="p_branch_name"
                        required #branch_name="ngModel">
                    </span>
                    <small [hidden]="branch_name.valid || (branch_name.pristine && !spdeliveryForm.submitted)"
                      class="text-danger">
                      Branch is required
                    </small>
                  </div>
                </div>
              </div>
              <!--#region lookup Branch Code -->

              <!--#region Status-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="delivery_status" class="control-label">Status </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.delivery_status"
                    name="p_delivery_status" required #delivery_status="ngModel">
                  <small
                    *ngIf="(delivery_status.errors?.required && delivery_status.touched) || (delivery_status.errors?.required && spdeliveryForm.submitted)"
                    class="text-danger">
                    Delivery Status is required
                  </small>
                </div>
              </div>
              <!--#endregion Status-->

              <!--#region Delivery Date-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="delivery_date" class="control-label">Date *</label>
                  <input [ngStyle]="getStyles(isButton)" class="form-control col-md-6" placeholder="dd/mm/yyyy"
                    angular-mydatepicker [ngModel]="model.delivery_date" name="p_delivery_date"
                    [options]="myDatePickerOptions" (click)="delivery_date.toggleCalendar()" required
                    #p_delivery_date="ngModel" #delivery_date="angular-mydatepicker" autocomplete="off"
                    [readonly]="isButton" />
                  <small
                    *ngIf="(p_delivery_date.errors?.required && p_delivery_date.touched) || (p_delivery_date.errors?.required && spdeliveryForm.submitted)"
                    class="text-danger">
                    Date is required
                  </small>
                </div>
              </div>
              <!--#endregion Delivery Date-->

              <!--#region loading type-->
              <div class="col-md-4">
                <label>Type *</label>
                <div class="form-group">
                  <div class="form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="p_delivery_courier_type" value="INTERNAL"
                        [(ngModel)]="model.delivery_courier_type" [disabled]="isButton">INTERNAL
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div class="form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="p_delivery_courier_type" value="EXTERNAL"
                        [(ngModel)]="model.delivery_courier_type" [disabled]="isButton">EXTERNAL
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </div>
              </div>
              <!--#endregion delivery_courier type-->

              <!--#region Delivery courier code -->
              <div class="col-md-4" [hidden]="model.delivery_courier_type != 'EXTERNAL'">
                <div class="form-group">
                  <label>Courier *</label>
                  <div class="col-md-12 buttons">
                    <button [disabled]="isButton"
                      class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                      (click)="btnLookupDeliveryCourier()" data-toggle="modal" data-target="#lookupModalDeliveryCourier"
                      href="#"><i class="fa fa-search-plus"></i></button>
                    {{model.courier}}
                    <input type="hidden" class="form-control" [ngModel]="model.delivery_courier_code"
                      name="p_delivery_courier_code" [required]="model.delivery_courier_type === 'EXTERNAL'"
                      #delivery_courier_code="ngModel">
                    <input type="hidden" class="form-control" [ngModel]="model.courier" name="p_description">
                  </div>
                  <small
                    [hidden]="delivery_courier_code.valid || (delivery_courier_code.pristine && !spdeliveryForm.submitted)"
                    class="text-danger">
                    Courier is required
                  </small>
                </div>
              </div>
              <!--#region lookup Delivery courier code -->

              <!--#region Delivery collector code -->
              <div class="col-md-4" [hidden]="model.delivery_courier_type != 'INTERNAL'">
                <div class="form-group">
                  <label>Collector *</label>
                  <div class="col-md-12 buttons">
                    <button [disabled]="isButton"
                      class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                      (click)="btnLookupDeliverycollector()" data-toggle="modal"
                      data-target="#lookupModalDeliverycollector" href="#"><i class="fa fa-search-plus"></i></button>
                    {{model.delivery_collector_name}}
                    <input type="hidden" class="form-control" [ngModel]="model.delivery_collector_code"
                      name="p_delivery_collector_code" [required]="model.delivery_courier_type === 'INTERNAL'"
                      #delivery_collector_code="ngModel">
                    <input type="hidden" class="form-control" [ngModel]="model.delivery_collector_name"
                      name="p_delivery_collector_name">
                  </div>
                  <small
                    [hidden]="delivery_collector_code.valid || (delivery_collector_code.pristine && !spdeliveryForm.submitted)"
                    class="text-danger">
                    Collector is required
                  </small>
                </div>
              </div>
              <!--#region lookup Delivery collector code -->

              <!--#region Client Name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="client_name" class="control-label">Client Name </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.client_name"
                    name="p_client_name" required #client_name="ngModel">
                </div>
              </div>
              <!--#endregion Client Name-->

              <!--#region Delivery collector code -->
              <div class="col-md-4" [hidden]="model.delivery_courier_type != 'INTERNAL'">
                <div class="form-group">
                  <label>Delivery Address *</label>
                  <div class="col-md-12 buttons">
                    <button [disabled]="isButton"
                      class="btn btn-icon btn-outline-default btn-round btn-md btn-lookup-margin" type="button"
                      (click)="btnLookupDeliveryAddress()" data-toggle="modal"
                      data-target="#lookupModalDeliveryAddress" href="#"><i class="fa fa-search-plus"></i></button>
                    {{model.delivery_address}}
                    <input type="hidden" class="form-control" [ngModel]="model.delivery_address"
                      name="p_delivery_address">
                  </div>
                  <!-- <small
                    [hidden]="delivery_address.valid || (delivery_address.pristine && !spdeliveryForm.submitted)"
                    class="text-danger">
                    Delivery Address is required
                  </small> -->
                </div>
              </div>
              <!--#region lookup Delivery collector code -->

              <!--#region Delivery To Name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="delivery_to_name" class="control-label">Delivery To Name </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.delivery_to_name"
                    name="p_delivery_to_name" #delivery_to_name="ngModel">
                </div>
              </div>
              <!--#endregion Delivery To Name-->

              <!--#region Client Phone No-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="client_phone_no" class="control-label">Client Phone No </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.client_phone_no"
                    name="p_client_phone_no" #client_phone_no="ngModel">
                </div>
              </div>
              <!--#endregion Client Phone No-->

              <!--#region Client NPWP-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="client_npwp" class="control-label">Client NPWP </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.client_npwp"
                    name="p_client_npwp" #client_npwp="ngModel">
                </div>
              </div>
              <!--#endregion Client NPWP-->

              <!--#region Client Email-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="client_email" class="control-label">Client Email </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.client_email"
                    name="p_client_email" #client_email="ngModel">
                </div>
              </div>
              <!--#endregion Client Email-->

              <!--#region SP Date-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="letter_date" class="control-label">SP Date *</label>
                  <input [ngStyle]="getStyles(isReadOnly)" class="form-control col-md-6" placeholder="dd/mm/yyyy"
                    angular-mydatepicker [ngModel]="model.letter_date" name="p_letter_date"
                    [options]="myDatePickerOptions" (click)="letter_date.toggleCalendar()" required
                    #p_letter_date="ngModel" #letter_date="angular-mydatepicker" autocomplete="off"
                    [readonly]="isReadOnly" />
                </div>
              </div>
              <!--#endregion SP Date-->

              <!--#region SP Type-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="letter_type" class="control-label">SP Type </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.letter_type"
                    name="p_letter_type" #letter_type="ngModel">
                </div>
              </div>
              <!--#endregion SP Type-->

              <!--#region Generate Type-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="generate_type" class="control-label">Generate Type </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.generate_type"
                    name="p_generate_type" #generate_type="ngModel">
                </div>
              </div>
              <!--#endregion Generate Type-->

              <!--#region Overdue Days-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="overdue_days" class="control-label">Overdue Days </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.overdue_days"
                    name="p_overdue_days" #overdue_days="ngModel">
                </div>
              </div>
              <!--#endregion Overdue Days-->

              <!--#region Total Overdue Amount-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="total_overdue_amount" class="control-label">Total Overdue Amount </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.total_overdue_amount | number : '1.2-2'"
                    name="p_total_overdue_amount" #total_overdue_amount="ngModel">
                </div>
              </div>
              <!--#endregion Total Overdue Amount-->

              <!--#region Total Agreement-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="total_agreement_count" class="control-label">Total Agreement </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.total_agreement_count"
                    name="p_total_agreement_count" #total_agreement_count="ngModel">
                </div>
              </div>
              <!--#endregion Total Agreement-->

              <!--#region Total Asset-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="total_asset_count" class="control-label">Total Asset </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.total_asset_count"
                    name="p_total_asset_count" #total_asset_count="ngModel">
                </div>
              </div>
              <!--#endregion Total Asset-->

              <!--#region Total Monthly Rental Amount-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="total_monthly_rental_amount" class="control-label">Total Monthly Rental Amount </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.total_monthly_rental_amount | number : '1.2-2'"
                    name="p_total_monthly_rental_amount" #total_monthly_rental_amount="ngModel">
                </div>
              </div>
              <!--#endregion Total Monthly Rental Amount-->

              <!--#region Last Print By-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="last_print_by" class="control-label">Last Print By </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.last_print_by"
                    name="p_last_print_by" #last_print_by="ngModel">
                </div>
              </div>
              <!--#endregion Last Print By-->

              <!--#region Print Count-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="print_count" class="control-label">Print Count </label>
                  <input [readonly]="isReadOnly" type="text" class="form-control" [ngModel]="model.print_count"
                    name="p_print_count" #print_count="ngModel">
                </div>
              </div>
              <!--#endregion Print Count-->

              <!--#region Delivery Remarks-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="delivery_remarks" class="control-label">Remark *</label>
                  <textarea type="text" class="form-control" maxlength="4000" [ngModel]="model.delivery_remarks"
                    name="p_delivery_remarks" required #delivery_remarks="ngModel" [disabled]="isButton"></textarea>
                  <small
                    *ngIf="(delivery_remarks.errors?.required && delivery_remarks.touched) || (delivery_remarks.errors?.required && spdeliveryForm.submitted)"
                    class="text-danger">
                    Remark is required
                  </small>
                </div>
              </div>
              <!--#endregion Delivery Remarks-->
            </div>
            <!-- endregion row -->
          </form>
          <!--#endregion form-->
        </div>
        
        <!--#region wizard-->
        <div class="wizard-custom-margin">
            <!--#region wizard container -->
            <div class="wizard-container">
                <div class="card-wizard" style="opacity: 1 !important; min-height: 0px;" data-color="primary"
                    id="wizardProfile2">
                    <div class="text-center">
                        <div class="wizard-navigation">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="amortizationnwiz()" href="#amortizationnlist"
                                        data-toggle="tab" role="tab" aria-controls="amortizationnlist"
                                        aria-selected="true">
                                        Invoice
                                    </a>
                                </li>
                            </ul>
                        </div>
                <!-- </th>
                      <th>SP No</th>
                      <th>SP Date</th>
                      <th>Agreement No</th>
                      <th>SP Type</th>
                      <th>Last Print By</th>
                      <th>Print Count</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of listspdeliverydetail;let i=index ">
                      <td style="text-align: center;">{{listspdeliverydetail.numberIndex+i+1}}</td>
                      <td class="disabled-sorting">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="row.selected"
                              [disabled]="model.code == null || isButton"
                              (change)="checkIfAllTableSelected($event, row.id);">
                            <span class="form-check-sign"></span>
                          </label> -->
              </div>
              <!-- </td>
                      <td style="text-align: center; width: 20%;">{{ row.letter_no }}</td>
                      <td style="text-align: center; width: 15%;">{{ row.letter_date }}</td>
                      <td style="text-align: left; width: 20%;">{{ row.agreement_no}}<br>{{ row.client_name }}
                      </td>
                      <td style="text-align: center; width: 15%;">{{ row.letter_type }}</td>
                      <td style="width: 15%;">{{ row.last_print_by }}</td>
                      <td style="text-align: center; width: 15%;">{{ row.print_count }}</td>
                      <td style="text-align: center;">
                        <a class="btn btn-warning btn-link btn-icon btn-sm print" title="Print SP1"
                          [hidden]="row.letter_type !== 'SP1'" (click)="btnPrintSP(row.letter_no)"><i
                            class="fa fa-print"></i></a>
                        <a class="btn btn-warning btn-link btn-icon btn-sm print" title="Print SP2"
                          [hidden]="row.letter_type !== 'SP2'" (click)="btnPrintSP2(row.letter_no)"><i
                            class="fa fa-print"></i></a>
                        <a class="btn btn-warning btn-link btn-icon btn-sm print" title="Print SOMASI"
                          [hidden]="row.letter_type !== 'SOMASI'" (click)="btnPrintSomasiPemenuhan(row.letter_no)"><i
                            class="fa fa-print"></i></a> -->
              <!-- <a class="btn btn-warning btn-link btn-icon btn-sm print" title="Print SP"
                            (click)="btnMailMerge(row.letter_no, row.letter_type)"><i class="fa fa-print"></i></a> -->
              <!-- <a class="btn btn-warning btn-link btn-icon btn-sm print" title="Print tanda Terima"
                            [hidden]="isButton" (click)="btnPrint(row.letter_no)"><i class="fa fa-print"></i></a> -->
              <!-- </td>
                    </tr>
                  </tbody>
                </table> -->
              <!--#endregion list view-->
              <!-- </form> -->
            </div>
          </div>
          <!-- </div> -->
          <!--#endregion list view-->
          <!-- </div>
        <div class="card-footer "> -->
        </div>
        <!--endregion wizard-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!--#region modal lookup Branch-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalSysBranch"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupBranch" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th style="width: 20%;">Code</th>
                  <th style="width: 75%;">Name</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupbranch;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupbranch.numberIndex+i+1}}</td>
                  <td style="text-align: center;">{{ row.code }}</td>
                  <td>{{ row.name }}</td>
                  <td class="text-right">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowBranch(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion modal lookup Branch-->

<!--#region modal lookup DeliveryCourier-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalDeliveryCourier"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupDeliveryCourier" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupDeliveryCourier;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupDeliveryCourier.numberIndex+i+1}}</td>
                  <td style="text-align: center; width: 25%;">{{ row.code }}</td>
                  <td style="width: 75%;">{{ row.description }}</td>
                  <td class="text-right">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowDeliveryCourier(row.code,row.description)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup DeliveryCourier-->

<!--#region modal lookup Delivery-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalDeliverycollector"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupDeliveryCollector" class="table table-striped table-bordered hover"
              cellspacing="0" style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th style="width: 20%;">Code</th>
                  <th style="width: 75%;">Name</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupDeliverycollector;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupDeliverycollector.numberIndex+i+1}}</td>
                  <td style="text-align: center;">{{ row.code }}</td>
                  <td>{{ row.name }}</td>
                  <td class="text-right">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowDeliverycollector(row.code,row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup DeliveryCollector-->

<!--#region modal lookup DeliveryAddress-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalDeliveryAddress"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupDeliveryAddress" class="table table-striped table-bordered hover"
              cellspacing="0" style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th style="width: 40%;">Address</th>
                  <th style="width: 15%;">Delivery To Name</th>
                  <th style="width: 15%;">Client Phone</th>
                  <th style="width: 15%;">Client NPWP</th>
                  <th style="width: 15%;">Client Email</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupDeliveryAddress;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupDeliveryAddress.numberIndex+i+1}}</td>
                  <td style="text-align: left;">{{ row.delivery_address }}</td>
                  <td>{{ row.delivery_to_name }}</td>
                  <td>{{ row.client_phone_no }}</td>
                  <td>{{ row.client_npwp }}</td>
                  <td>{{ row.client_email }}</td>
                  <td class="text-right">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowDeliveryAddress(row.delivery_address,row.delivery_to_name, row.client_phone_no, row.client_npwp, row.client_email)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup DeliveryAddress-->